# -----------------------
# Node.js
# -----------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log

# -----------------------
# Build / Output
# -----------------------
dist/
build/
.cache/
.next/
out/
tmp/
temp/

# -----------------------
# Environment variables
# -----------------------
.env
.env.local
.env.development
.env.production
.env.test

# -----------------------
# Logs
# -----------------------
*.log
logs/

# -----------------------
# System files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Editors
# -----------------------
.vscode/
.idea/
*.swp
*.swo
